/* HTML AND BODY GENERAL */
html, body {
    height: 100dvh;
}

#main {
    height: 100%;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100%;
}



#mainText {
    margin: 5vh 0 10vh 0;

    text-align: center;
}

#mainText > h1 {
    color: var(--green2);
    font-size: 20pt;
    font-weight: 600;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    width: 70%;

    margin-bottom: 5vh;
    padding: 20px 0 10px 0;

    border-radius: 20px;

    background-color: var(--light-gray);
}

.form-container > form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
}

.form-input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 7px;
    
    width: 100%;
}

.form-input > select, .form-input > input {
    width: 100%;

    padding: 5px 2px;

    border-radius: 10px;

    color: var(--dark1);
}

.form-input > select:focus, .form-input > input:focus {
    outline: 2px solid var(--green2);
}