
h2 {
    margin: 0.6rem 0;

    color: var(--dark2);
    font-size: 16pt;
    font-weight: 600;
}

#hero, #aboutUs, #howQhWorks, #targetAudience {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;

    margin: 2rem 0;
}

#heroText {
    order: 1;

    width: 40%;
}

#heroText > h1 {
    color: var(--dark2);
    font-weight: 800;
    font-size: 20pt;
}

#heroText > p {
    padding: 2rem 0;
}

#heroImg {
    order: 2;

    width: 30%;
}



#aboutUsImg {
    order: 1;

    width: 30%;
}

#aboutUsText {
    order: 2;

    width: 40%;
}



#whyUs {
    padding: 2rem 10rem;

    background-color: var(--light-gray);

    text-align: center;
}

#whyUs > p {
    margin-top: 1.5rem;
}



.qh-metodos-container {
    display: flex;
    align-items: stretch;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 15px;

    margin: 1rem 0;
}

.qh-metodos-l, .qh-metodos-d {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    width: 30%;
    box-sizing: border-box;

    margin: 1rem 0;
    padding: 4vh 3vw;

    border-radius: 20px;

    transition: background-color 0.3s ease, transform 0.2s ease;
}

.qh-metodos-l > h3, .qh-metodos-d > h3 {
    font-size: 13pt;
    font-weight: 600;
}

.qh-metodos-l > p, .qh-metodos-d > p {
    font-size: 10pt;
}

.qh-metodos-l {
    border: 1px solid var(--dark1);
    border-bottom: 3px solid var(--dark1);
    
    background-color: var(--light-green);
    color: var(--dark1);
}

.qh-metodos-l:hover {
    background-color: var(--dark1);
    color: var(--light-green);

    transform: translateY(-2px);
}

.qh-metodos-d {
    background-color: var(--dark1);
    color: var(--light-green);
}

.qh-metodos-d:hover {
    border: 1px solid var(--dark1);
    border-bottom: 3px solid var(--dark1);

    background-color: var(--light-green);
    color: var(--dark1);

    transform: translateY(-2px);
}



#targetAudience {
    justify-content: center;
    gap: 30px;
}

#targetAudienceImg {
    order: 1;

    width: 40%;
}

#targetAudienceText {
    order: 2;

    width: 30%;
}

#targetAudienceText > ul {
    list-style: disc;
}

#targetAudienceText > ul > li {
    margin: 0.8rem 0;
    line-height: 1.6;
}

#targetAudienceText > ul > li > strong {
    font-weight: 600;
}



#callAction {
    display: flex;
    justify-content: center;

    width: 100%;

    margin: 10vh 0;
}

.call-action-container {
    width: 90%;
    box-sizing: border-box;

    padding: 6vh 5vw;

    border-radius: 20px;

    background-color: var(--dark1);

    color: #fff;
}

.call-action-container > h3, .call-action-container > p > span {
    color: var(--green1);
}

.call-action-container > h3 {
    font-size: 14pt;
}

.call-action-container > p {
    margin-bottom: 3vh;
}



/* RESPONSIVIDADE */
@media (max-width: 768px) {
    #hero, #aboutUs {
        flex-direction: column;
        width: 100%;
    }

    #heroText, #aboutUsText {
        order: 1;
        width: 85%;
    }

    #heroImg, #aboutUsImg {
        order: 2;
        margin: 2rem 0;
        width: 80%;
    }

    #whyUs {
        max-width: 100%;

        padding: 2rem 3rem;
    }

    .qh-metodos-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .qh-metodos-l, .qh-metodos-d {
        width: 80%;
        padding: 5vh 6vw;
    }

    #targetAudience {
        flex-direction: column;
    }

    #targetAudienceText {
        order: 1;
        width: 85%;
    }

    #targetAudienceImg {
        order: 2;
        width: 80%;
    }

}