/* HTML AND BODY GENERAL */
html, body {
    height: 100dvh;
}

#main {
    height: 100%;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;

    background-color: var(--dark1);
}

.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;

    width: 60%;
    height: 70%;
    box-sizing: border-box;

    padding: 1vh 3vw;

    border-radius: 30px;

    background-color: var(--dark2);
}

.left-form {
    order: 1;
    height: 100%;
    width: 40%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.right-form {
    order: 2;
    width: 50%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.right-form > h1 {
    margin-bottom: 30px;

    color: var(--green1);
    font-size: 20pt;
    font-weight: 700;
}

.right-form > form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
}

.right-form > form > input {
    height: 40px;
    width: 80%;

    margin: 10px 0;
    padding: 2px 10px;

    border-radius: 30px;
}

.right-form > form > input:focus {
    outline: 2px solid var(--green1);
}

.right-form > a {
    margin-top: 5px;

    color: var(--light-green);
}

.right-form > a:hover {
    color: var(--green2);
}


/* RESPONSIVIDADE */
@media (max-width: 768px) {
    .form-container {
        width: 85%;
    }

    .left-form {
        display: none;
    }

    .right-form {
        width: 90%;
    }
}