/* HTML AND BODY GENERAL */
html, body {
    height: 100dvh;
}

#main {
    height: 100%;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100%;
}

h1 {
    margin: 20px 0;
    color: var(--green2);
    font-size: 20pt;
    font-weight: 600;
}

main > a {
    margin: 4vh 0;
}