
/* HTML AND BODY GENERAL */
html, body {
    min-height: 100dvh;
}

body {
    background-color: var(--light-blue);
    font-family: var(--poppins-font);
}

#main {
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    max-width: 2000px;
    box-shadow: 0px 0px 20px var(--shadow);
    background-color: #fff;
}

a {
    text-decoration: none;
}

p {
    margin: 0.8rem 0;
    line-height: 1.6;
}

span {
    color: var(--green2);
    font-weight: 700;
}


/* HEADER AND FOOTER  */

/* header*/
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    position: sticky;
    top: 0;

    height: 48px;

    padding: 0 5rem;

    border-bottom: 1px solid var(--gray);
    box-shadow: 0px 1px 16px 0px var(--shadow);

    background-color: #fff;
}

.logo {
    color: var(--green2);
    font-weight: 700;
    font-size: 15pt;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    
    height: 100%;
}

nav > a {
    display: flex;
    align-items: center;

    height: 100%;
    padding: 0 1rem;

    color: var(--dark2);

    transition: background-color 0.3s ease, transform 0.2s ease;
}

nav > a:hover {
    border-bottom: 1px solid var(--dark2);

    background-color: var(--light-green);

    font-weight: bold;
}

nav > a.active {
    background-color: var(--green1);
    border-bottom: 2px solid var(--dark2);
}

.btn-login {
    padding: 0.6rem 3rem;

    border-radius: 10px;

    background-color: var(--blue1);

    color: #fff;

    transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-login:hover {
    background-color: var(--light-blue);
    color: var(--dark2);

    transform: translateY(-2px);
}

/* header responsivo */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        gap: 0.5rem;

        position: relative;
        z-index: 0;

        height: 180px;

        padding: 0;
        padding-top: 20px;
    }

    .logo {
        width: 100%;
        text-align: center;
    }

    nav {
        width: 100%;
        height: auto;
        justify-content: center;
        flex-direction: column;
    }

    nav > a {
        justify-content: center;
        height: 25px;
        width: 100%;
        padding: 0;
    }

    nav > a:hover, nav > a.active {
        border: none;
    }

    .btn-login {
        width: 100%;
        border-radius: 0;
    }
}


/* footer */
footer {
    position: relative;
    z-index: 2;
    padding: 0.5rem 0;

    background-color: var(--light-gray);

    text-align: center;
}



/* BUTTON */

/* general button */
.btn {
    padding: 0.6rem 3rem;

    border-radius: 100px;
}

/* main button */
.main-btn {
    background-color: var(--dark2);

    color: #fff;

    transition: background-color 0.3s ease, transform 0.2s ease;
}

.main-btn:hover {
    background-color: var(--dark1);

    transform: translateY(-2px);
}